.navbar-default {
  
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px red;
   }
  

   .example-card {
    max-width: 400px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 70%;
  }

  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
  }
 